<!-- /views/login.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% if (errormsg) { %>
    <h3><%= errormsg %></h3>
    <% } %>
    <h1>Login Page</h1>
    <form method="POST" action="/login">
      <label for="username">Enter email:</label
      ><input id="username" type="email" name="username" />

      <label for="password">Enter Password:</label
      ><input id="password" type="password" name="password" /><input
        type="submit"
        value="Submit"
      />
    </form>
    <p>Or <a href="/signup">sign up</a>.</p>
  </body>
</html>
