<!-- views/member.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include("partials/loginStatus.ejs") %>
    <h1>Success!</h1>
    <p>You are now a member of our club.</p>
    <p>
      <a href="/">Please enjoy the posts in all their author and date glory!</a>
    </p>
  </body>
</html>
