<!-- views/success.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include("partials/flashErrors.ejs") %>
    <h1>You have successfully logged in.</h1>
    <% if (user.ismember) { %>
    <p>
      You may now <a href="/">view all posts</a> with author data and dates
      created..
    </p>
    <% } else { %>
    <p>
      But you still need to enter the member password if you want to view all
      posts with author data and creation dates. It's a club! (The password is
      "BlueDonkey".)
    </p>
    <form method="POST" action="/member">
      <input type="number" name="userid" value="<%= user.user_id %>" hidden />
      <label for="memberpwd">Enter member password</label>
      <input type="password" name="memberpwd" id="memberpwd" required />
      <button type="submit">Submit</button>
    </form>
    <h4>
      I don't know the password. :-( <a href="/">Show me the posts</a> without
      the bits and bobs.
    </h4>
    <% } %>
  </body>
</html>
